.demo_top{
	height:70px;
	width:70px;
	top:0px;
	right:0px;
	overflow: hidden;
	font-size:20px;
    border-color:rgba(126,126,126,0.7) rgba(126,126,126,0.7) transparent transparent;
    border-style:solid solid dashed dashed;
    border-width:50px;
	position:fixed;
}

.demo_bottom{
	height:70px;
	width:70px;
	bottom:30px;
	left:0px;
	overflow: hidden;
	font-size:20px;
    border-color:transparent transparent rgba(126,126,126,0.7) rgba(126,126,126,0.7);
    border-style:dashed dashed solid solid;
    border-width:50px;
	position:fixed;
}

.re{
	width:70px;
	height:70px;
	top:20px;
	right:20px;
	position:fixed;
	transform:rotate(45deg);
	font-size:30px;
	color:white;
	text-align:center;
	-ms-transform:rotate(45deg); /* Internet Explorer 9*/
        -moz-transform:rotate(45deg); /* Firefox */
        -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
        -o-transform:rotate(45deg); /* Opera */
	z-index:2;	
    }

.nt{
	width:70px;
	height:70px;
	bottom:30px;
	left:0px;
	position:fixed;
	transform:rotate(45deg);
	font-size:30px;
	color:white;
	text-align:center;
	-ms-transform:rotate(45deg); /* Internet Explorer 9*/
        -moz-transform:rotate(45deg); /* Firefox */
        -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
        -o-transform:rotate(45deg); /* Opera */
	z-index:2;
}
